@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
     --off-white: #faeee7;
     --white-shadow: #ddd;
     --pinkish: #e7717d;
     --neon-blue: #0056b3;
     --clay: #7e685a;
     --green: #afd275;
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: var(--off-white);
    width: 100%;
    height: auto;
    overflow-x: hidden;
}

.popup-menu {
    text-align: center;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 8px;
    border: 1px solid var(--white-shadow);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 300px;
}

.popup-menu p {
    margin-bottom: 10px;
    color: var(--pinkish);;
}

#closePopup {
    display: inline-block;
    padding: 8px 16px;
    background-color: var(--neon-blue);
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

#closePopup:hover {
    background-color: var(--neon-blue);
}

/*
.menu-btn{
    color: white;
    position: absolute;
    background-position: center;
    background-size: 30px;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    right: 0;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.3s ease;
}

.menu-btn:hover {
    color: var(--clay)
}

.menu-btn.active{
    z-index: 999;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
    transition: 0.3s ease;
    filter: invert(1);
}
*/

header{
    z-index: 889;
    position: fixed;
    background: linear-gradient(to right, #C2CAD0, var(--pinkish));
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: left;
    transition: 0.2s ease;
    flex-wrap: nowrap;
}

header.sticky{
    background-color: #333;
    padding: 10px 20px;
    transition: all 0.3s ease-in-out;
}


header .navigation{
    position: relative;
}

header .navigation a{
    color: white;
    font-size: 1em;
    text-decoration: none;
    font-weight: 500;
    margin-left: 30px;
}

header .navigation a:hover{
    color: var(--neon-blue);
}

header .sticky .navigation a:hover{
    color: var(--neon-blue);
}

section{
    padding: 100px 50px;
}

.image-holder img{
    max-width: 200px;
    min-width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Intro Heading */
/*centering the title*/
.title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-title{
    position: relative;
    color: var(--green);
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 60px;
}

.section-title::before{
    content: "";
    position: absolute;
    top: 56px;
    left: 50%;
    width: 140px;
    height: 4px;
    background-color: var(--green);
    transform: translateX(-50%);
}

.section-title::after{
    content: "";
    position: absolute;
    top: 50px;
    left: 50%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--green);
    transform: translateX(-50%);
}

.content-title{
    position: relative;
    color: var(--clay);
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 60px;
}

/*intro*/

.intro .content{
    position: relative;
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap;
}

.intro .content .col-left{
    position: relative;
    width: 45%;
}

.intro .content .col-right{
    position: relative;
    width: 50%;
}

.intro .content .col-left .img-card{
    position: relative;
    width: 100%;
    min-height: 450px;
}

.intro .content .col-left .img-card img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.intro .content .col-right .content-title{
    font-size: 2em;
    font-weight: 800;
    margin-bottom: 20px;
}

.intro .content .col-right .paragraph-text{
    font-size: 1em;
}

/*contact*/

.social-links {
    list-style-type: none;
    padding: 0;
}

.social-link {
    display: flex;
    align-items: center; /* Vertically center the icon and text */
    margin: 10px 0;
    padding: 10px;
    font-size: 1.2rem;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    background-color: white;
    transition: background-color 0.3s, transform 0.2s;
}

.social-link:hover {
    background-color: var(--neon-blue);
    color: white;
    transform: scale(1.05);
}

.social-link i {
    font-size: 24px; /* Icon size */
    margin-right: 10px; /* Space between icon and text */
    vertical-align: middle; /* Align icon with text */
}

@keyframes text-move {
    0%,15%{
        margin-top: 0px;
    }
    
    25%,40%{
        margin-top: -70px;
    }
    
    50%,65%{
        margin-top: -140px;
    }
    
    75%,90%{
        margin-top: -70px;
    }
    
    100%{
        margin-top: 0px;
    }
}

/*For smaller screens*/
@media (max-width: 720px) {

    .content-title{
        position: relative;
        color: var(--clay);
        font-size: 2.2em;
        font-weight: 800;
        margin-bottom: 60px;
    }

    .intro .content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .intro .content .col-left{
        position: relative;
        width: 45%;
    }
    
    .intro .content .col-right{
        position: relative;
        width: 100%;
    }
}

@media (orientation: portrait) {
    /* Styles for phones in portrait mode */
    body {
        font-size: 16px;
        padding: 20px;
    }

    .intro .content {
        flex-direction: column;
        align-items: center;
    }

    .intro .content .col-left,
    .intro .content .col-right {
        width: 100%; /* Full width for each column */
        margin-bottom: 20px; /* Add space between stacked items */
    }
}
